


@model IceCream
@{
    ViewData["Title"] = "Create";
}





<form method="post" style="margin-top:150px;">

    <div class="border p-3 mt-4">
        <div class="row pb-3">
            <h1 class="text-primary">Edit IceCream</h1>
            <hr />
        </div>

        <div asp-validation-summary="All"></div> @* عشان يطلع رساله غلط *@
        <div class="mb-3">
            <label asp-for="name">Name</label>
            <input class="form-control" asp-for="name" />
            <span asp-validation-for="name" class="text-danger"></span>@* عشان يطلع رساله غلط *@

        </div>

        <div class="mb-3">
            <label asp-for="Price">Price</label>
            <input class="form-control" asp-for="Price" />
            <span asp-validation-for="Price" class="text-danger"></span>@* عشان يطلع رساله غلط *@
        </div>




        <div class="mb-3">
            <select class="form-control" asp-for="SizeId" asp-items="@ViewBag.selecto"></select>
        </div>



        <button type="submit" class="btn btn-primary" style="width:150px">save</button>

        <a class="btn btn-warning" style="width:150px" asp-action="Index" asp-controller="IceCream">Back</a>
    </div>
</form>



@*  هيك التحقق من جهه العميل ما بعمل خمل ع database server *@
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml"></partial>
}



